<header class="main-header">
  <h1>taskList.name</h1>
  <button routerLink="/boards" class="boards-button">Ir para Boards</button>
</header>
<div class="board-container">

  <div class="board-container">
    @for (list of taskLists; track list) {
      <div class="list-container">
        <div class="list-title">
          <h2 class="list-name">{{ list.name }}</h2>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <span>Delete</span>
            </button>
          </mat-menu>
        </div>
        <div
        cdkDropList
        [id]="list.name"
        [cdkDropListData]="list.tasks"
        [cdkDropListConnectedTo]="getConnectedListIds(list.id)"
        class="task-list"
        (cdkDropListDropped)="drop($event)"
      >
      
          @for (task of list.tasks; track task) {
            <div class="task-card" cdkDrag>
              <div class="task-header">
                <h5 class="task-name">{{ task.title }}</h5>
                
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <img src="https://img.icons8.com/?size=100&id=86374&format=png&color=000000" alt="">
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item>
                    <img src="https://img.icons8.com/?size=100&id=68064&format=png&color=000000" height="15" width="15" alt="">
                    <span>Delete</span>
                  </button>
                </mat-menu>
              </div>
              <p class="task-description">{{ task.description }}</p>
            </div>
          }
          <button class="add-task-button" (click)="toggleCreateTaskForm(list)">+ Adicionar Tarefa</button>
        </div>
      </div>
    }
  </div>
</div>

<div *ngIf="showCreateTaskForm" class="overlay" (click)="toggleCreateTaskForm()"></div>
<div *ngIf="showCreateTaskForm" class="create-task-form" style="margin-top: 10px;">
  <h3>Criar Nova Tarefa</h3>
  <input
    type="text"
    placeholder="Título da Tarefa"
    [(ngModel)]="newTaskTitle"
    class="form-input"
  />
  <textarea
    placeholder="Descrição (opcional)"
    [(ngModel)]="newTaskDescription"
    class="form-textarea"
  ></textarea>
  <div class="form-actions">
    <button (click)="createTask(selectedList)" class="form-submit-button">Criar</button>
    <button (click)="toggleCreateTaskForm()" class="form-cancel-button">Cancelar</button>
  </div>
</div>
<button class="add-task-button" (click)="toggleCreateTaskForm()">+ Adicionar Tarefa</button>